---

external_zone_name: ${external_zone_name}
bitesize_environment: ${bitesize_environment}
bitesize_environment_type: ${bitesize_environment_type}
region: ${region}
owner: bitesize
vpc_id: ${vpc_id}
zoneid: ${external_zone_id}
internal_zone_name: ${internal_zone_name}
role: ${role}
namespace: ${namespace}
db_instance_name: ${db_instance_name}
asg_name_data: ${asg_name_data}
s3_bucket: ${s3_bucket}

cfssl_path: /etc/cfssl
cfssl_s3_path: ${region}/${bitesize_environment}

cfssl:
  internal:
    port: 8891
    endpoint: "ansible-cfssl.localstack.local.dev"
    auth_key: "2a12520e4a2090389ba89f054f83d1f2"
    certs:
      mg:
        hosts:
        - "mg.localstack.local.dev"
        type: server


filesystems:
  docker:
    mount: "/var/lib/docker"
    dev: "/dev/xvdb"
    fs: "btrfs"
  data:
    mount: "/data"
    dev: "/dev/xvdc"
    fs: "xfs"          

docker_engine_version: 1.13.1
docker_storage_driver: btrfs