- src: git+ssh://git@github.com/pearsontechnology/ansible-users.git
  name: ansible-users
  version: ${ansible_users_version}

- src: git+ssh://git@github.com:pearsontechnology/ansible-mongo.git
  name: ansible-mongo
  version: ${ansible_mongo_version}

- src: git+ssh://git@github.com/pearsontechnology/ansible-volumes.git
  name: ansible-volumes
  version: ${ansible_volumes_version}

- src: git+ssh://git@github.com/pearsontechnology/ansible-td-agent-config.git
  name: ansible-td-agent-config
  version: ${ansible_td_agent_config_version}

- src: git+ssh://git@github.com/pearsontechnology/ansible-docker.git
  name: ansible-docker
  version: ${ansible_docker_version}

- src: git+ssh://git@github.com/pearsontechnology/ansible-route53.git
  name: ansible-route53
  version: ${ansible_route53_version}

- src: git+ssh://git@github.com/pearsontechnology/ansible-cfssl.git
  name: ansible-cfssl
  version: ${ansible_cfssl_version}


  